<div class="button-container">
  <button class="sql-button" (click)="navigateToQuery('select')">SELECT</button>
  <button class="sql-button" (click)="navigateToQuery('where')">WHERE</button>
  <button class="sql-button" (click)="navigateToQuery('orderby')">ORDER BY</button>
  <button class="sql-button" (click)="navigateToQuery('limit')">LIMIT</button>
  <button class="sql-button" (click)="navigateToQuery('from')">FROM</button>
  <button class="sql-button query-button" (click)="navigateToQuery('query')">QUERY</button>
</div>
